h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}
h1 .slug-anchor,
h2 .slug-anchor,
h3 .slug-anchor,
h4 .slug-anchor,
h5 .slug-anchor,
h6 .slug-anchor {
  position: absolute;
  top: 50%;
  left: -28px;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 15;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
h1:hover .slug-anchor,
h2:hover .slug-anchor,
h3:hover .slug-anchor,
h4:hover .slug-anchor,
h5:hover .slug-anchor,
h6:hover .slug-anchor {
  opacity: 1;
}
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: "";
  position: absolute;
  left: -4rem;
  width: 100%;
  height: 100%;
  z-index: 10;
}
